
body {
	background-color: rgb(32,32,32);
}

#content{
	top: -128px;
	width: 1024px;
	height: 10240px;
	margin-left: auto;
    margin-right: auto;

	background-position: 50% 0; 
	background-color: white;
}